classDef inputsBlockStyle  rx:15,ry:15,font-size:16px,font-weight:bold,stroke:#c0c0e0,fill:#d9f0ff;
classDef outputsBlockStyle rx:15,ry:15,font-size:16px,font-weight:bold,stroke:#c0c0e0,fill:#d9f0ff;

classDef inputsStyle fill:#fff7de,stroke:#fbe38a
classDef outputsStyle fill:#fff7de,stroke:#f0e080

classDef processingElementStyle rx:15,ry:15,font-size:18px,font-weight:bold,fill:#fdfdea,stroke:f9f8ee,stroke-width:1px;
classDef dataSourceNodeStyle rx:15,ry:15,font-size:18px,font-weight:bold,fill:#ecfcec,stroke:#e0f0e0
