%%{init: {
  'htmlLabels': true,
  'fontFamily': "monospace",
  'flowchart': {
    'diagramPadding': 0, 
    'nodeSpacing': 0, 
    'rankSpacing': 0,
    'subGraphTitleMargin': { 'top': 0, 'bottom': 5 } 
  } 
}}%%
